<div class="info-container">
    <div class="info-text">
      <p>
        The following ecommerce-based website is produced by Valerio Botte and Marco Cardinali for the exam of the course of Laboratory of Advanced Programming.
      </p>
      <p>
        Our goal is to create a simple alternative to the vast array of online shops that typically lack sensitivity in controlling the quality of the products sold.
      </p>
      <p>
        A typical example is online fast fashion shops. We prioritize an e-commerce platform that leads in selling eco-sustainable wardrobe products, setting a reference for all those who wish to buy clothes online, like Zalando.
      </p>
      <p>
        We provide users the option to choose their delivery method and offer information on the type of products they will purchase from our site.
      </p>
      <p>
        The most important future development for this project is the implementation of certification for products with the correct logos, giving users a more direct understanding of what they are buying.
      </p>
      <p>
        Considering the significant challenge in our society to safeguard the environment, our vision is to influence people's purchasing habits in a positive way.
      </p>
      <p>
        For more infos please write to valerio.botte882"&#64;"gmail.com and cardinalimarco1998"&#64;"libero.it
      </p>
    </div>
  </div>
  