<!-- Product section-->
<section class="py-5" *ngIf="product">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img class="card-img-top mb-5 mb-md-0" [src]="productImages[product.nome] || 'assets/images/default.png'"
          class="img-fluid" alt="{{ product.nome }}">
      </div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder">{{product.nome}}</h1>
        <div class="small mb-1">{{product.descrizione}}</div>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through">{{product.prezzo}}</span>
          <span style="color: red;">$50.00</span>
        </div>
        <p class="lead">EcoVision si assicura che tutti i prodotti acquistati rispettino tutti i requisiti di ecosostenibilità sia nei processi di produzione di tutta la filiera, sia nel trasporto fino a casa tua, ad emissioni 0</p>
        <div class="d-flex">
          <input class="form-control text-center me-3" id="inputQuantity" type="num" [(ngModel)]="quantity"
            style="max-width: 3rem" />
          <button class="btn btn-outline-dark flex-shrink-0" (click)="addToCart(product.id)">
            <i class="bi-cart-fill me-1"></i>
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Percorsi -->
<router-outlet></router-outlet>

